body {
   font-family: tahoma, verdana, sans serif;
}

#mainCanvas {
   background: #ffffff;
   position:absolute;
   z-index: 0;
   left: 20px;
   top: 90px;
   box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

#controls {
   position: absolute;
   z-index: 2;
   left: 740px;
   top: 472px;
   width: 125px;
}
#fillControls {
   position: absolute;
   z-index: 2;
   left: 740px;
   top: 512px;
   width: 150px;
}

label{
  font-size: 12px;
  margin-right:0.75em;
}

#topCavas{
  background: rgba(0,0,0,0);
  position: absolute;
  left: 20px;
  top: 90px;
  z-index: 1;
  cursor: pointer;
}

#colors{
  position: absolute;
  top: 115px;
  left: 740px;
}

.fillColor{
  width: 150px !important;
  height: 30px;
}

.activeColor{
  border: solid 5px black;
}

/*
#fillLabel{
  position: absolute;
  top: 90px;
  left: 740px;
}
*/

#strokeLabel{
  position: absolute;
  top: 90px;
  left: 740px;
}

#toolChooser{
  position: absolute;
  top: 110px;
  left: 740px;
  width: 125px;
}

#toolLabel{
  position: absolute;
  top: 90px;
  left: 740px;
  width: 125px;
}

#lineWidthChooser{
  position: absolute;
  top: 175px;
  left: 740px;
  width: 125px;
}

#lineLabel{
  position: absolute;
  top: 155px;
  left: 740px;
  width: 125px;
}

#canvases{
  overflow: auto;
  margin: 10px;
}

.templateCanvas, .pictureCanvas{
  margin-bottom: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  cursor: pointer;
}

.templateCanvas:hover{
  box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.5);
}

/*http://www.w3schools.com/howto/howto_css_modals.asp*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalContent{
  background-color: #f7f7f7;
  margin: 15% auto;
  padding: 20px;
  width: 80%; 
}

.modalButton{
  margin-top: 10px;
}

.modalContent label{
  font-size: 12pt;
  right: 10px;
}

#templates, #pictures{
  display: none;
}

#hiddenCanvas{
  display: none;
}

#calls{
  display: none;
}

#loginAlert, #signinAlert, #templateAlert, #fillAlert, #galleryAlert{
  display: none;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 200px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 15pt;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.templateDiv, .pictureDiv{
  width:280px;
  height:auto;
  float:left;
  margin: 5px;
}

.deleteButton{
  position: relative;
  top: -200px;
  left: 250px;
  width: 20px;
  height: 25px;
  background-color: rgba(255,255,255,.75);
  text-align: center;
 /*https://www.iconfinder.com/iconsets/30_Free_Black_ToolBar_Icons*/
  background-image: url("../img/trash_can.png");
  background-repeat: no-repeat;
  background-position: center;
}

.exportButton{
  position: relative;
  top: -200px;
  left: 190px;
  width: 20px;
  height: 25px;
  background-color: rgba(255,255,255,.75);
  text-align: center;
 /*https://www.iconfinder.com/iconsets/30_Free_Black_ToolBar_Icons*/
  background-image: url("../img/export_icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

#colorPicker{
  position: absolute;
  top: 90px;
  left: 740px;
  width: 150px;
}

#sliders{
  width: 100px;
  position: relative;
  left: 50px;
  bottom: 100px;
}

.slider{
  margin-bottom: 15px;
}

#colorSwatch{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px black;
  border: solid 1px black;
}

@media screen and (max-width: 870px){
  #mainCanvas{
    position: relative;
    top: 0px;
  }
  #topCavas{
    position: relative;
    top:-500px;
  }
  #controls{
    position: relative;
    top: -492px;
    left:20px;
    width: 700px;
    display: inline-block;
  }
  #fillControls{
    position: relative;
    top: -492px;
    left:20px;
    width: 700px;
    display: inline-block;
  }
  
  #toolLabel, #lineLabel{
    position: relative;
    top: -492px;
    left: 20px;  
  }
  #toolChooser, #lineWidthChooser{
    position: relative;
    top: -492px;
    left: 20px;
    width:700px;
    margin-bottom: 10px;
  }
  #colors{
    position: relative;
    top: -492px;
    left: 20px;
    width: 700px;
    display: inline-flex;
    margin-bottom: 10px;
  }
  .fillColor{
    width: 125px !important;
    height: 30px;
    border-radius: 0px !important;
  }
  #red{
    position: relative;
    bottom:1px;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
  }
  #white{
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }
}