<html lang="en">
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Vibrancy</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/outline">Create</a></li>
          <li><a href="/templates">Templates</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <canvas id="mainCanvas" width="700" height="500">
      Get a real browser!
  </canvas>

  <canvas id="topCavas" width="700" height="500">
      Get a real browser!
  </canvas>

  <p id="toolLabel">Shape:</p>
  <select id="toolChooser" class="form-control">
    <option value="toolRectangle">Rectangle</option>
    <option value="toolCircle">Circle</option>
    <option value="toolLine">Line</option>
  </select>
  
  <p id="lineLabel">Line Width:</p>
  <p id="minus"></p>
  <p id="lineWidth">3</p>
  <p id="plus"></p>
  
  <div id="controls" class="btn-group-vertical">
    <a href="#" class="btn btn-default" id="clearButton">Clear</a>
    <a href="#" class="btn btn-default" id="saveButton">Save</a>
    <a href="#" class="btn btn-default" id="undoButton">Undo</a>
  </div>
  
  <div id="saveModal" class="modal">
    <div class="modalContent">
      <form id="saveForm">
        <fieldset>
          <legend>Save Template</legend>
          <input type="hidden" name="_csrf" id="csrf" value="{{csrfToken}}" />
          <button type="button" id="formSaveButton" class="btn btn-primary modalButton">Save</button>
          <button type="button" id="cancelButton" class="btn btn-default modalButton">Cancel</button>
        </fieldset>
      </form>
    </div>
  </div>
  
  <div id="alertModal" class="modal">
    <div class="modalContent">
      <p>Cannot save empty image!</p>
      <button type="button" id="cancelAlert" class="btn btn-default modalButton">Cancel</button>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/outline.js" type="text/javascript"></script>
</body>
</html>